.container {
  padding: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.section {
  margin-bottom: 10px;
}

.title {
  font-weight: bold;
}

.error {
  color: red;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px 0px;
}

.input-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
